genome=mm9 ###
typeAnno=ensGene ###
MISOPATH=/lab/jaenisch_albert/Apps/yarden/MixtureIsoforms/

genomeRootDir=/lab/jaenisch_albert/genomes/

genomeSizes=${genomeRootDir}/${genome}/${genome}_nr.sizes
eventGff=${genomeRootDir}/${genome}/annos/${typeAnno} ###
rawGffFile=${genomeRootDir}/${genome}/annos/${typeAnno}.pe.gff3 ##

targetBamFileBaseName=accepted_hits.sorted.bam  ### use the sorted one?
readLen=36 ###
pairedEndFlag=""   
clusterFlag="--use-cluster --chunk-jobs 1000"
bamFileSubRoot=tophatOutput
MISOOutSubRoot=MISOOnSE_ensGene

misoRunSetting=miso_settings_ensGene.txt